@import '../../styles/variables';
@import '../../styles/mixin';

header {
  width: 100%;
  background-color: $dark-blue;
  .wrapper {
    padding: 0;
    @include flex(space-between, center);
    @media (max-width: $TABLET_BREAKPOINT) {
      justify-content: center;
    }
    .logo {
      width: 150px;
      @media (max-width: $TABLET_BREAKPOINT) {
        svg {
          max-width: 150px !important;
        }
      }
      svg {
        max-width: 200px;
        max-height: 200px;
        fill: $white;
        .st0,
        .st1,
        .st2,
        .st3,
        .st4,
        .st5,
        .st6,
        .st7,
        .st8,
        .st9 {
          fill: #ffffff;
        }
      }
    }

    .contact {
      @media (max-width: $TABLET_BREAKPOINT) {
        display: none;
      }
    }
  }
}

.contact {
  .whatsapp {
    @include flex(flex-start, center);

    svg {
      width: 30px;
      height: 30px;
    }

    p {
      margin-left: 10px;
      color: $white;
    }
  }
}
