@import '../../styles/variables';

header {
  width: 100%;
  background-color: $dark-blue;
  .wrapper {
    padding: 0;
    .logo {
      @media (max-width: $TABLET_BREAKPOINT) {
        text-align: center;

        svg {
          max-width: 150px !important;
        }
      }
      svg {
        max-width: 200px;
        max-height: 200px;
        fill: $white;
        .st0,
        .st1,
        .st2,
        .st3,
        .st4,
        .st5,
        .st6,
        .st7,
        .st8,
        .st9 {
          fill: #ffffff;
        }
      }
    }
  }
}
