@import '../../styles/variables';
@import '../../styles/mixin';

.about-us {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    align-items: center;

    @media (max-width: $TABLET_BREAKPOINT) {
      grid-template-columns: none;
      grid-template-rows: 1fr;
    }

    .about-content {
      text-align: left;
    }

    .about-graphic {
      max-width: 600px;

      img {
        width: 100%;
      }
    }
  }
}
