@import '../variables';
@import '../mixin';

.page-not-found {
  text-align: center;

  svg {
    width: 100%;
    max-height: 300px;
  }

  .form-button {
    margin-bottom: 30px;
    // text-align: center;
  }

  button {
    min-width: 240px;
    padding: 10px 20px;
    background-color: $macaroni;
    border: 1px solid $macaroni;
    @include font(14px, 600, $black);
    cursor: pointer;
    border-radius: 8px;
    text-transform: uppercase;

    @media (max-width: $TABLET_BREAKPOINT) {
      width: 100%;
    }
  }
}
