// Text Color
$white: #fff;
$black: #333;
$brownish-grey: #666;
$macaroni: #ffc72c;
$primary: #d46234;
$dark-blue: #233040;
$eggshell: #fffdd7;
$brown-grey: #999;

$MOBILE_BREAKPOINT: 480px;
$TABLET_BREAKPOINT: 768px;
$DESKTOP_SMALL_SCREEN_BREAKPOINT: 1200px;
$DESKTOP_BIG_SCREEN_BREAKPOINT: 1440px;
