@import '../../styles/variables';
@import '../../styles/mixin';

.card {
  padding: 60px;
  @include flex(space-between, center);
  opacity: 0;
  transition: all ease-in-out 0.5s;

  @media (max-width: $TABLET_BREAKPOINT) {
    padding: 30px 10px;
  }

  .graphic {
    margin-right: 30px;
    max-width: 400px;

    img {
      width: 100%;
    }
  }

  .content {
    p {
      color: $brown-grey;
    }
  }
}
