@import '../../styles/variables';
@import '../../styles/mixin';

.home-banner {
  background-color: $dark-blue;
  padding-top: 0px;
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    align-items: center;

    @media (max-width: $TABLET_BREAKPOINT) {
      grid-template-columns: none;
      grid-template-rows: 1fr;
    }

    .form-button {
      margin-top: 30px;
      // text-align: center;
    }

    button {
      min-width: 240px;
      padding: 10px 20px;
      background-color: $macaroni;
      border: 1px solid $macaroni;
      @include font(14px, 600, $black);
      cursor: pointer;
      border-radius: 8px;
      text-transform: uppercase;

      @media (max-width: $TABLET_BREAKPOINT) {
        width: 100%;
      }
    }

    .banner-content {
      h1,
      p {
        color: $white;
      }
    }
  }
}
